<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    a {
        display:block;
    }
    .b2{
        display: inline-block;
        width: 300px;
        height: 200px;
    }
    div.b2
    {
        background: red;
    }
p.b2{
    background-color: yellow;
}
   a.b2 {
        background: blue;
    }

</style>
</head>
<body>
    <!-- display là hình dạng -->
    <!-- display :quy định cách hiển thị của 1 thẻ -->
    <!-- Inline:quy định chiều ngang của thẻ chỉ vừa bằng nội dung(span,a,label),không quy định được weight,height -->
    <!-- block:Quy định chiều ngang của thẻ là cả màn hình(div,h,p), quy định được weight,height -->
    <!-- Mỗi thẻ có sẵn display mặc định và có thể thay đổi đƯợc -->
    <!-- Inline-block:vừa có thể hiển thị trên cùng dòng như inline,
                      lại có thể căn chỉnh được các giá trị đã nêu ở trên giống block (img) -->
<div class="b2">Hello</div>

   <a class="b2">Hi</a>
    <p class="b2" >1+1=3</p>
    <a style="display: block;">Xin chào</a>
    <a style="display: block;">Mọi người</a>
</body>
</html>