.all{
    width: 510px;
    height: 300px;
    border: 1px solid lightsalmon;
    margin: 5px;
    background:  rgb(243, 139, 98);
}
.head{
    width: 500px;
    height: 35px;
    border: 1px solid rgb(213, 213, 223);
    text-transform:unset;
    background:rgb(213, 213, 223) ;
    
    
}
.head h2{
    color: blue;
    margin: 4px;
}
.body p{
    margin: 4px;
    color: blue;
}
